@import url("chat.css");

/* app css stylesheet */
h1 {
    height: 50px;
    border-bottom: 2px solid #008CBA;
    margin-bottom: 20px;
}

body {
    font-family: Monospace;
    background-color: #f0f0f0;
    margin: 0px;
    overflow: hidden;
}

#main {
    height: 100%;
}

#game-container {
    min-height: 100%;
    display: flex;
}

#game-canvas {
    flex: 1;
}

#navigation {
    margin-bottom: 0;
}

html, body {
    height: 100%;
}

.minimap {
    position: absolute;
    border-radius: 50%;
    border: 2px solid white;
    background-color: green;
    background-size: 50px 50px;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);

}