<nav id="navigation" class="navbar navbar-default navbar-static-top" ng-controller="NavCtrl">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li ng-repeat="item in items" class="{{item.active}}">
                    <a ng-click="openLink(item)" class="{{item.class}}" href="{{item.href}}">{{item.name}} <span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>

            <div class="nav navbar-nav stats-container"></div>

            <form class="navbar-form navbar-right">

                <div class="form-group">
                    <input type="text" class="form-control input-sm" ng-model="user.name" name="text"
                           placeholder="- Your super gamer name -">
                </div>

                <button type="submit" class="btn btn-default btn-sm" ng-click="showMap()">map</button>

                <div class="btn-group">
                    <button type="submit" class="btn btn-default btn-sm" ng-click="toggleStats($event)" value="0">fps
                    </button>
                    <button type="submit" class="btn btn-default btn-sm" ng-click="toggleStats($event)" value="1">ms
                    </button>
                    <button type="submit" class="btn btn-default btn-sm" ng-click="toggleStats($event)" value="2">mb
                    </button>
                </div>
                <button type="submit" class="btn btn-default btn-sm">logoff</button>
            </form>

        </div>
    </div>
</nav>